Flask==2.3.2
Werkzeug==3.0.0
Flask-WTF==1.2.1
WTForms==3.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
Flask-Login==0.6.3
Flask-CKEditor==0.5.1
Flask-Gravatar==0.5.0
Bootstrap-Flask==2.3.3
psycopg2-binary==2.9.9
gunicorn==23.0.0
python-dotenv==1.0.0